
{% extends 'base.html.twig' %}
{% block title %}List of DragonTreasures and their Owners{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="my-4 ">List of DragonTreasures and their Owners</h1>
        <div class="mb-3">
            {{ form_start(searchForm, {'attr': {'class': 'd-flex justify-content-between'}}) }}
            {{ form_row(searchForm.query) }}
            <button type="submit" class="btn btn-primary ">Search</button>
            {{ form_end(searchForm) }}
        </div>

        <!-- Dropdown for selecting user -->
        <div class="mb-3">
            {{ form_start(userSelectForm, {'attr': {'class': 'd-flex justify-content-between'}}) }}



                        {{ form_widget(userSelectForm.user) }}


                    <div class="d-flex justify-content-between align-items-center" >
                        {{ form_label(userSelectForm.startDate) }}
                        {{ form_widget(userSelectForm.startDate,{'attr': {'style':'height:100%;margin-left:5px;'}}) }}
                    </div>

                    <div class="d-flex justify-content-between align-items-center" >
                        {{ form_label(userSelectForm.endDate) }}
                        {{ form_widget(userSelectForm.endDate,{'attr': {'style':'height:100%;margin-left:5px;'}}) }}
                    </div>


                        {{ form_widget(userSelectForm.filter) }}



            {{ form_end(userSelectForm) }}
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(dragonTreasures, 'ID', 'd.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(dragonTreasures, 'Name', 'd.name') }}</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
                <th scope="col">CFactor</th>
                <th>Created At</th>
                <th>Is Published</th>
                <th scope="col">Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for dragonTreasure in dragonTreasures %}
                <tr>
                    <th scope="row">{{ dragonTreasure.id }}</th>
                    <td>{{ dragonTreasure.name }}</td>
                    <td>{{ dragonTreasure.description | length >30 ? dragonTreasure.description|slice(0, 30) ~ '...' : dragonTreasure.description }}</td>
                    <td>{{ dragonTreasure.value }}</td>
                    <td>{{ dragonTreasure.coolFactor }}</td>
                    <td>{{ dragonTreasure.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ dragonTreasure.isPublished ? 'Yes' : 'No' }}</td>
                    <td>{{ dragonTreasure.owner.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(dragonTreasures) }}
    </div>
{% endblock %}

