
{% extends 'base.html.twig' %}
{% block title %}List of DragonTreasures and their Owners{% endblock %}


{% block body %}
    <div class="container">
        {# ... #}
        <div  id="exportModal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000; padding:20px; background:white; border:1px solid #ccc; box-shadow:0px 0px 10px rgba(0,0,0,0.5);width:50%;">
            <h2 class="text-center">Download</h2>
            <div class="d-flex gap-1">
                <input type="text" id="exportFileName" class="flex-grow-1" >
                <div>
                    <button id="confirmExport" class="btn btn-primary">Confirm</button>
                    <button id="cancelExport" class="btn btn-danger">Cancel</button>
                </div>

            </div>

        </div>
        <div id="modalBackdrop" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:500;"></div>
        {# ... #}

        <h1 class="my-5  text-center">DragonTreasures</h1>
        <div class="mb-5">
            <div class="mb-2">
                {{ form_start(searchForm, {'attr': {'id':'searchForm','class': 'd-flex justify-content-between'}}) }}
                {{ form_row(searchForm.query) }}
                <button type="submit" class="btn btn-primary ">Search</button>
                {{ form_end(searchForm) }}
            </div>

            <!-- Dropdown for selecting user -->
            <div >
                {{ form_start(userSelectForm, {'attr': {'id':'userSelectForm','class': 'd-flex justify-content-between'}}) }}



                {{ form_widget(userSelectForm.user) }}


                <div class="d-flex justify-content-between align-items-center" >
                    {{ form_label(userSelectForm.startDate) }}
                    {{ form_widget(userSelectForm.startDate,{'attr': {'style':'height:100%;margin-left:5px;'}}) }}
                </div>

                <div class="d-flex justify-content-between align-items-center" >
                    {{ form_label(userSelectForm.endDate) }}
                    {{ form_widget(userSelectForm.endDate,{'attr': {'style':'height:100%;margin-left:5px;'}}) }}
                </div>


                {{ form_widget(userSelectForm.filter) }}



                {{ form_end(userSelectForm) }}
            </div>
        </div>

        <table class="table table-bordered" data-controller="datatables">
            <thead>
            <tr>
                <th colspan="2">Personal</th>
                <th colspan="6">Data</th>
            </tr>
            <tr>
                <th >ID</th>
                <th >Name</th>
                <th >Description</th>
                <th >Value</th>
                <th >CFactor</th>
                <th>Created At</th>
                <th>Is Published</th>
                <th >Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for dragonTreasure in dragonTreasures %}
                <tr>
                    <td>{{ dragonTreasure.id }}</td>
                    <td>{{ dragonTreasure.name }}</td>
                    <td>{{ dragonTreasure.description | length >30 ? dragonTreasure.description|slice(0, 30) ~ '...' : dragonTreasure.description }}</td>
                    <td>{{ dragonTreasure.value }}</td>
                    <td>{{ dragonTreasure.coolFactor }}</td>
                    <td>{{ dragonTreasure.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ dragonTreasure.isPublished ? 'Yes' : 'No' }}</td>
                    <td>{{ dragonTreasure.owner.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(dragonTreasures) }}
    </div>
{% endblock %}

