{% extends 'base.html.twig' %}

{% block title %}DragonTreasure index{% endblock %}

{% block body %}



        <div class="container mt-5">

            <h1 class="mb-4 text-center h1 ">DragonTreasures</h1>

            <form data-controller="datetime" data-action="submit->datetime#handleFormSubmit" style="display: flex; justify-content: space-between; gap: 10px; align-items: center; margin-bottom: 40px; margin-top: 40px;" >
                <div style="position: relative">
                    <label for="startDate">Start Date:</label>
                    <input type="text"
                           id="startDate"
                           name="startDate"
                           data-which-date="start"
                           data-datetime-target="startDate"
                           data-action="input->datetime#validate"
                           placeholder="YYYY-MM-DD HH:MM or DD-MM-YYYY HH:MM"
                           value="{{ startDate | default('') }}"
                     >
                    <div data-datetime-target="startDisplay" style="position: absolute; color: green; top: -20px; left:120px;font-size: 0.7em;"></div>
                    <div data-datetime-target="startError" style="position: absolute; color: red; top: -35px; left:5px;font-size: 0.7em;"></div>
                </div>

               <div style=" position: relative">
                   <label for="endDate">End Date:</label>
                   <input type="text"
                          id="endDate"
                          name="endDate"
                          data-which-date="end"
                          data-datetime-target="endDate"
                          data-action="input->datetime#validate"
                          placeholder="YYYY-MM-DD HH:MM or DD-MM-YYYY HH:MM"
                          value="{{ endDate | default('') }}"
                   >
                   <div data-datetime-target="endDisplay" style="position: absolute; color: green; top: -20px; left:120px;font-size: 0.7em;"></div>
                   <div data-datetime-target="endError" style="position: absolute; color: red; top: -35px; left:5px;font-size: 0.7em;"></div>
               </div>


                <div>
                    <button type="submit" class="btn btn-success" data-datetime-target="submit" style="display: none; color: black; background: yellow">Submit</button>
                </div>

            </form>

            <table class="table table-hover table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>CoolFactor</th>
                    <th>CreatedAt</th>
                    <th>IsPublished</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for dragon_treasure in dragon_treasures %}
                    <tr>
                        <td>{{ dragon_treasure.id }}</td>
                        <td>{{ dragon_treasure.name }}</td>
                        <td>{{ dragon_treasure.description|slice(0, 30) }}{% if dragon_treasure.description|length > 30 %}...{% endif %}</td>
                        <td>{{ dragon_treasure.value }}</td>
                        <td>{{ dragon_treasure.coolFactor }}</td>
                        <td>{{ dragon_treasure.createdAt ? dragon_treasure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ dragon_treasure.isPublished ? 'Yes' : 'No' }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="{{ path('app_dragon_treasure_show', {'id': dragon_treasure.id}) }}" class="btn btn-info">Show</a>
                                <a href="{{ path('app_dragon_treasure_edit', {'id': dragon_treasure.id}) }}" class="btn btn-warning">Edit</a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_dragon_treasure_new') }}" class="btn btn-success">Create new</a>
        </div>

    {% endblock %}



